{{#extends "base"}}

{{#block "content"}}
<h1> All Customer </h1>

<table class="table">
    <thead>
        <tr>
            <th>first_name</th>
            <th>last_name</th>
            <th>rating</th>
            <th>company_id</th>
        </tr>
    </thead>
    <tbody>
        {{#each customers}}
        <tr>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>{{this.rating}}</td>
            <td>{{this.name}}</td>
            <td>
                <a href="/customers/{{this.customer_id}}/update" class="btn btn-primary">Update</a>
            </td>
            <td>
                <a href="/customers/{{this.customer_id}}/delete" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/block}}

{{/extends}}